# App
NODE_ENV='local'
APP_PORT=3010
LOG_LEVEL=info

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASS=123456
DB_NAME='db_local'
DEBUG_LOGGING_TYPEORM=true

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

JWT_SECRET=pQDZrJZC4d9xHMev+plOq5YhHqObwH+gV4v0V3Aq0MMS0a+gHqpxMlJX3rZ5gJX8
JWT_EXPIRES_IN=3600s

CLIENT_SECRET_KEY=SvJqU8Ml4iOmzQsrGYMNLA==
CORS_ALLOWED_ORIGINS=http://localhost:4200